.competencias__container {
  text-align: center;
  margin: 4rem auto 4rem;
  color: var(--text-color-dark);
  border-bottom: 3px dashed var(--text-color-dark);
  width: 100%;
  max-width: 1140px;
}

.competencias__titulo {
  background-color: var(--text-color-dark);
  color: var(--main-color-dark);
  padding: 0.8rem;
  width: 60%;
  margin: 0 auto;
}

.competencias__listContainer {
  margin-top: 2rem;
}
.competencias__container ul {
  list-style-type: none;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .competencias__titulo {
    width: 70%;
    font-size: 1.6rem;
    padding: 0.6rem;
  }
  .competencias__listContainer ul li p {
    font-size: 0.8rem;
  }
}
@media (max-width: 481px) {
  .competencias__titulo {
    width: 74%;
    font-size: 1.3rem;
    padding: 0.4rem;
  }
  .competencias__listContainer ul li p {
    font-size: 0.75rem;
  }
  #competencias__listContainer--ul {
    padding-left: 0;
    width: 90%;
    margin: 1rem auto;
  }
}
