.proyectos__container {
  text-align: center;
  margin: 0 auto;
  max-width: 1140px;
  color: var(--text-color-dark);
  border-bottom: 3px dashed var(--text-color-dark);
  margin-bottom: 3rem;
}
.proyectos__cardsContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  width: 90%;
  margin: 0 auto;
}

.proyectos__title {
  background-color: var(--text-color-dark);
  color: var(--main-color-dark);
  padding: 0.8rem;
  width: 60%;
  margin: 0 auto 3rem;
}

#proyectos__card {
  margin-bottom: 2rem;
  border-radius: 0;
  border: 1px solid var(--text-color-dark);
}

#proyectos__cards-button {
  background-color: var(--text-color-dark);
  color: var(--main-color-dark);
  border: none;
  font-family: "Press Start 2p", sans-serif;
  border-radius: 0;
  box-shadow: 6px 6px 0px rgba(82, 82, 82, 0.25);
  margin: 1rem;
}

#proyectos__cards-button:hover {
  transform: scale(1.1);
  box-shadow: 8px 8px 6px rgba(82, 82, 82, 0.25);
  z-index: 2;
}

.proyectos__card__title {
  font-family: "Press Start 2p", sans-serif;
}

.proyectos__card__body {
  font-size: 0.8rem;
}

@media (max-width: 1025px) {
  .proyectos__cardsContainer {
    width: 80%;
  }
}

@media (max-width: 481px) {
  .proyectos__cardsContainer {
    width: 80%;
  }
  .proyectos__card__body {
    font-size: 0.7rem;
  }
  #proyectos__cards-button {
    border-radius: 0;
    box-shadow: 6px 6px 0px rgba(82, 82, 82, 0.25);
    margin: 0.7rem;
    font-size: 0.8rem;
  }
  .proyectos__title {
    font-size: 1.3rem;
  }
}
